<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.dinamo"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <permission
        android:name="br.com.dinamo.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="br.com.dinamo.permission.C2D_MESSAGE" />

    <application
        android:name="DinamoApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MyTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="br.com.dinamo.NavigatorMainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <!-- <action android:name="android.intent.action.MAIN" /> 

                <category android:name="android.intent.category.LAUNCHER" />-->
            </intent-filter>
        </activity>
        <activity android:name="br.com.dinamo.SplashActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" /> 

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="br.com.dinamo.SignUpActivity" android:screenOrientation="portrait" />
        <activity android:name="br.com.dinamo.LogInActivity" android:screenOrientation="portrait" />
        <activity android:name="br.com.dinamo.MainScreenActivity" android:screenOrientation="portrait" />
        <activity android:name="br.com.dinamo.BuyEventsMainActivity" android:screenOrientation="portrait" />
        <activity
            android:name="br.com.dinamo.AddBuyEventActivity"
            android:windowSoftInputMode="stateVisible"
            android:screenOrientation="portrait" />
        <activity android:name="br.com.dinamo.TakePhotoActivity" android:screenOrientation="portrait" />
        <activity
            android:name="br.com.dinamo.BuyEventDetailsActivity"
            android:windowSoftInputMode="adjustPan" android:screenOrientation="portrait" />
        <activity android:name="br.com.dinamo.SellEventsMainActivity" android:screenOrientation="portrait" />
        <activity
            android:name="br.com.dinamo.AddSellProductActivity"
            android:windowSoftInputMode="stateVisible" android:screenOrientation="portrait" />
        <activity android:name="br.com.dinamo.SoldProductDetailsActivity" android:screenOrientation="portrait" />
        <activity android:name="br.com.dinamo.ExpensesMainActivity" android:screenOrientation="portrait" />
        <activity
            android:name="br.com.dinamo.AddExpenseActivity"
            android:windowSoftInputMode="stateVisible" android:screenOrientation="portrait" />
        <activity android:name="br.com.dinamo.ExpenseDetailsActivity" android:screenOrientation="portrait" />
        <activity android:name="br.com.dinamo.FinalResultActivity" android:screenOrientation="portrait" />

        <receiver
            android:name=".GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="br.com.dinamo" />
            </intent-filter>
        </receiver>

        <service android:name=".GcmIntentService" />
    </application>

</manifest>